{% extends "layout.html" %} {% block content %}
  
<div class="container ">
  
  <h1 class="text text-center">Inscrivez vous </h1>

  <div class="d-flex justify-content-center ">
    <div class="mt-5" style="width:30%; border:solid 2px black; padding:2% ;border-radius:10%">
      <form action="{{ url_for('auth.register') }}" method="post">
        <div class="mb-3">
          <label for="nom" class="form-label">Nom</label>
          <input
            type="text"
            class="form-control"
            id="nom"
            name="nom"
            placeholder="Nom"
            required
          />
        </div>
        <div class="mb-3">
          <label for="prenom" class="form-label">Prénom</label>
          <input
            type="text"
            class="form-control"
            id="prenom"
            name="prenom"
            required
          />
        </div>
        <div class="mb-3">
          <label for="username" class="form-label">Nom d'utilisateur</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Mot de passe</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">S'inscrire</button>
      </form>
    </div>

  </div>



</div>
{% endblock %}
